.site {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.siteBody {
    display: flex;
    justify-content: space-between;
    /* flex-basis: auto auto; */
    height: auto;
    padding-left: 20px;
    padding-right: 50px;

}

